<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Elk</title>
  <link rel='stylesheet' media='all' href='/master.css' />
  <script>
    <%= "const rowid = #{rowid};" %>
    <%= "const parent_id = #{parent_id || "null"};" %>
    <%= "const initial_links = #{initial_links};" %>
  </script>
  <script src='/master.js'></script>
</head>

<body>
  <div id='view'>
  <h1 contenteditable='true' id='title'><%= title %></h1>
  <div id='after_title'>
    <section id='body' contenteditable='true'>
      <%= body %>
    </section>
    <section id='links'>
    </section>
  <div>
  </div>
  <%# <div><%= initial_links %1></div> %>

</body>
</html>
