@import url('https://fonts.googleapis.com/css?family=Open+Sans|Droid+Serif');

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-weight:400;
  line-height: 1.4em;
  background: #eee;
  color: #333;
}

h1#title {
  font-family: "Droid Serif", times roman, serif;
  font-weight: 400;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left:calc(15% - 16px + 10px);
  padding-right:15%;
  border-bottom: 2px solid #333;
  margin: 40px;
  font-size: 30px;
  outline: none;

  transition: background .2s;
}
h1#title.save {
  background: #dfd;
}
#view {
  height: calc(100vh - 50px);
  overflow-y: auto;
}

#after_title {
  padding: 0px 40px;
  /* height: calc(100vh - 150px); */
  position: relative;
}

#body {
  width: 70%;
  margin-left: 15%;
  padding: 1.4em 16px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background: #f4f4f4;
  outline:none;
  display: inline-block;
  transition: background .2s;
}
#body.save {
  background: #dfd;
}

#links {
  position: absolute;
  top: 1.4em;
  left: calc(50% - 100px + 25px - (70% / 2));
  text-align: left;
  z-index: -1px;
}

.link {
  display: block;
  box-sizing: content-box;
  border-bottom: solid #eee 0.4em;
  position: relative;
  top: 0.4em;
  background: #09f;
  height: 1em;
  cursor: pointer;
  width: 100px;
  transform: rotateY(180deg);
}
.link.real {
}
.link.fake {
  opacity: 0;
  background: #c9c9c9
}
.link:hover {
  opacity: 1;
}
.link.fake:before {
  border-color: transparent #c9c9c9 transparent transparent;
}
.link:before {
  content:"";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #09f transparent transparent;
  position: absolute;
  left: -15px;
}
